{% import "module.html" as modul %}
{% set nama = data.my_name() %}
<!DOCTYPE html>
<html>
<head>
	{{ modul.css() }}
</head>
<body>
	{{ modul.navbar(nama) }}
	{{ modul.nama("Spam Like Friend Timeline") }}
	<div class="col s12 container">
		{{ modul.input(name="id", place="ID FACEBOOK")}}
		{{ modul.input(name="limit", type="number", place="Limit")}}
		{{ modul.submit(id="tombol")}}
	</div>
	<div class="center red-text" id="status" style="font-size: 20px">
		
	</div>

	<script type="text/javascript">
		const kuki = document.cookie.split(";")[0].replace('cookie="', "").replace('"', "");
		let angka = 0;
		let sts = $("#status");
		let tombol = $("#tombol");
		tombol.on("click", function (arg) {
			// tombol.addClass("hide");
			let id = $("#id").val();
			let limit = $("#limit").val();
			if (limit == ""){
				alert("Empty Limit");
			} else if (id == ""){
				alert("Empty Id");
			} else {
				dump_sts(id,limit);
			}
		});

		function dump_sts(x,y) {
			tombol.addClass("hide");
			sts.html("Getting Post Id");
			$.ajax({
  				url: "/get_sts",
				type:"POST",
				data:{
					"url":"https://mbasic.facebook.com/profile.php?id=" + x,
					"limit" :y,
					"str1":"Suka",
					"str2":"Lihat Berita Lain",
					"kondisi":"like.php",
				},
  				success: function( result ) {
  					const data = result.split("|");
  					if (data.length <= 1){
  						alert("pastikan akun anda telah berteman dengan target")
  					}
  				complete: execute(data);
  				}
			});
		}

		function execute(x){
			$.ajax({
  				url: "/url",
				type:"POST",
				data:{
					"url":x[angka],
				},
  				complete: function (y) {
  					if (angka < x.length){
  						angka += 1;
  						sts.html("Proccess " + angka + "/" + x.length);
  						execute(x);
  					} else {
  						tombol.removeClass("hide");
  						angka = 0;
  						sts.html("Done!")
  					}
  				}
			});
		}
	</script>
</body>
</html>