{% macro css() %}
	<title>Facebook Toolkit (TAFA)</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  	<link type="text/css" rel="stylesheet" href="static/css/materialize.min.css">
  	<script type="text/javascript" src="static/js/materialize.min.js"></script>
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  	<style type="text/css">
	    a {
	      color: black;
	    }

	    a:active {
	      color: red;
	    }
  	</style>

{% endmacro %}

{% macro navbar(nama) %}
	<div class="navbar-fixed">
	<nav class="darken-2">
	    <div class="nav-wrapper">
	      <a href="#" class="brand-logo"><span class="yellow-text">TAFA</span></a>
	      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
	      <ul class="right hide-on-med-and-down">
	        <li><a href="/home">Home</a></li>
		    <li><a href="/about">About</a></li>
		    <li><a href="/logout">Logout</a></li>
	      </ul>
	    </div>
  	</nav>
  	</div>

  <ul class="sidenav" id="mobile-demo">
  	<li class="center"><a class="red lighten-2"><i class="material-icons">account_box</i><b>{{nama[:13]}}</b></a></li>
    <li><a href="/home">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/logout">Logout</a></li>
  </ul>

  <script type="text/javascript">
  	document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.sidenav');
    var instances = M.Sidenav.init(elems);
  });
  	
  </script>
	
{% endmacro %}

{% macro nama(x) %}
	<div class="center container z-depth-1" style="padding: 10px; margin-top: 10px; font-style: italic;">
		{{x}}
	</div>
{% endmacro %}

{% macro input(name="", type="text", place="") %}
      <div class="input-field">
      <input id="{{name}}" name="{{name}}" type="{{type}}" class="validate" required="ISI WOY">
      <label for="{{name}}">{{place}}</label>
	
{% endmacro %}

{% macro submit(text="Gasskeun", id="") %}
<div class="center container">
	<button class="btn waves-effect waves-light" id="{{id}}" type="submit" name="ter-klik" value="true"><span id="tombol-text">{{text}}</span><i class="material-icons right">send</i></button>
</div>
	
{% endmacro %}