{% import "module.html" as modul %}
<!DOCTYPE html>
<html>
<head>
	{{ modul.css() }}
</head>
<body class="container z-depth-1" style="padding: 10px;margin-top: 10px">
	<p>1. Checkpoint/Mute/dll ditanggung penumpang author tidak tanggung jawab.</p>
	<p>2. Apapun yg dilakukan user bukan tanggung jawab author.</p>
	<p>3. Jangan menggunakan web ini untuk merugikan orang lain.</p>
	<p>4. Kuki yg ente submit di web ini gk ane simpen ya jadi jgn bilang ada logernya.</p>
	<br>
	<p>Jika ingin memberi hadiah :v</p>
	<ul>DANA/Pulsa: 083154881466</ul>
	<ul>Crypto: <a href="https://freewallet.org/id/mazaya/doge">klik ini</a></ul>
</body>
</html>